<% if (vehicle.reviews && vehicle.reviews.length > 0) { %>
              <div class="star-rating">
                    <% let averageRating = 0; %>
                    <% vehicle.reviews.forEach(review => { %>
                    <% averageRating += review.rating; %>
                    <% }); %>
                    <% averageRating /= vehicle.reviews.length; %>
                    <% for (let i = 1; i <= 5; i++) { %>
                    <% if (i <= averageRating) { %>
                  <i class="fas fa-star"></i>
            <% } else { %>
                  <i class="far fa-star"></i>
                    <% } %>
                    <% } %>
              </div>
                    <% } else { %>
                  <p>No reviews yet.</p>
                    <% } %>


