<%- include('./includes/head.ejs') %>

<body>
  <%- include('./includes/navigation.ejs') %>
  <h1
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90vh;
    ">
    Page Not Found!
  </h1>

  <%- include('./includes/end.ejs') %>
</body>
