<%- include('./includes/head.ejs') %>

<body>
  <%- include('./includes/navigation.ejs') %>
  <div style="height: 90vh">
    <h1 style="margin: 80px">Some error occurred!</h1>
    <p style="margin: 30px">
      We're working on fixing this, sorry for the inconvenience!
    </p>
  </div>
  <%- include('./includes/end.ejs') %>
</body>
