<%- include('./includes/head.ejs') %>

</head>

<body>
   <%- include('./includes/navigation.ejs') %>
   
     <form action="/" method="GET"></form>
    <section class="home" id="home">
        <div class="text">
            <h1><span> Looking</span> to <br>rent a car </h1>
            <p>Lorem ipsum dolar, sit amet consectetur adi <br>pisicing elit. fuga, ut qui.</p>
            <div class="app-stores">
                <img src="/images/ios.png" alt="">
                <img src="/images/play.png"  alt="">
            </div>
        </div>

        <div class="form-container">
            <form>
                <div class="input-box">
                    <span>Location</span>
                    <input type="search" name="" id="" placeholder="search Places">
                </div>
                <div class="input-box">
                    <span>Pick-Up*</span>
                    <input type="date" name="" id="">
                    <label for="hourlyTime">Select Hourly Time:</label>
                        <select id="hourlyTime" name="hourlyTime">
                            <option value="00:00">12:00 AM</option>
                            <option value="01:00">1:00 AM</option>
                            <option value="02:00">2:00 AM</option>
                            <option value="23:00">3:00 AM</option>
                            <option value="00:00">4:00 AM</option>
                            <option value="01:00">5:00 AM</option>
                            <option value="02:00">6:00 AM</option>
                            <option value="23:00">7:00 AM</option>
                            <option value="00:00">8:00 AM</option>
                            <option value="01:00">9:00 AM</option>
                            <option value="02:00">10:00 AM</option>
                            <option value="23:00">11:00 AM</option>
                            <option value="00:00">12:00 PM</option>
                            <option value="01:00">1:00 PM</option>
                            <option value="02:00">2:00 PM</option>
                            <option value="23:00">3:00 PM</option>
                            <option value="00:00">4:00 PM</option>
                            <option value="01:00">5:00 PM</option>
                            <option value="02:00">6:00 PM</option>
                            <option value="23:00">7:00 PM</option>
                            <option value="00:00">8:00 PM</option>
                            <option value="01:00">9:00 PM</option>
                            <option value="02:00">10:00 PM</option>
                            <option value="23:00">11:00 PM</option>
                        </select>
                    </div>
                <div class="input-box">
                    <span>Return*</span>
                    <input type="date" name="" id="">
                    <label for="hourlyTime">Select Hourly Time:</label>
                        <select id="hourlyTime" name="hourlyTime">
                            <option value="00:00">12:00 AM</option>
                            <option value="01:00">1:00 AM</option>
                            <option value="02:00">2:00 AM</option>
                            <option value="23:00">3:00 AM</option>
                            <option value="00:00">4:00 AM</option>
                            <option value="01:00">5:00 AM</option>
                            <option value="02:00">6:00 AM</option>
                            <option value="23:00">7:00 AM</option>
                            <option value="00:00">8:00 AM</option>
                            <option value="01:00">9:00 AM</option>
                            <option value="02:00">10:00 AM</option>
                            <option value="23:00">11:00 AM</option>
                            <option value="00:00">12:00 PM</option>
                            <option value="01:00">1:00 PM</option>
                            <option value="02:00">2:00 PM</option>
                            <option value="23:00">3:00 PM</option>
                            <option value="00:00">4:00 PM</option>
                            <option value="01:00">5:00 PM</option>
                            <option value="02:00">6:00 PM</option>
                            <option value="23:00">7:00 PM</option>
                            <option value="00:00">8:00 PM</option>
                            <option value="01:00">9:00 PM</option>
                            <option value="02:00">10:00 PM</option>
                            <option value="23:00">11:00 PM</option>
                        </select>
                </div>
                <input type="submit" name="" id="" class="btn">
            </form>
        </div>
    </section>

   
<%- include('./includes/end.ejs') %>