<%- include('./includes/head.ejs') %>

<body>
   <%- include('./includes/navigation.ejs') %>
   
        <section class="home" id="home">
            <div class="text">
                <h1><span> Looking</span> to <br>rent a car </h1>
                <p>Lorem ipsum dolar, sit amet consectetur adi <br>pisicing elit. fuga, ut qui.</p>
                <div class="app-stores">
                    <img src="/images/ios.png" alt="">
                    <img src="/images/play.png"  alt="">
                </div>
            </div>
        </section>

   
<%- include('./includes/end.ejs') %>