/* Google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap");

:root {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2em;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
  }
  --main-color: #fe5b3d;
  --second-color: #ffac38;
  --text-color: #444;
  --gradient: linear-gradient(#fe5b3d, #ffac38);
}
/* custom scroll Bar */
html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar {
  background: var(--main-color);
  border-radius: 5rem;
}

section {
  padding: 50px 100px;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eeeff1;
}

.logo img {
  width: 40px;
}
.navbar {
  display: flex;
}

.navbar li {
  position: relative;
}

.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
}
.navbar a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: var(--gradient);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.5s;
}

.navbar a:hover::after {
  width: 100%;
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

.header-btn a {
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
}

.header-btn .sign-in {
  background: #474fa0;
  color: #fff;
  border-radius: 0.5rem;
}

.header-btn .sign-in:hover {
  background: var(--main-color);
}

.dropdown-content .btn {
  margin-right: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.home {
  width: 100%;
  min-height: 89vh;
  position: relative;
  background: url(/images/Car\ Website\ –\ 1@2x.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.text h1 {
  font-size: 3.5rem;
  letter-spacing: 2px;

  padding: 10px;
  margin-left: 20px;
}

.text span {
  margin-left: 20px;
  color: var(--main-color);
}
.text p {
  margin: 00.5rem 0 1rem;
}

.app-stores {
  display: flex;
}

.app-stores img {
  width: 100px;
  margin-right: 1rem;
  cursor: pointer;
}

.login-form {
  height: 90vh;
}

.login-form-container {
  margin: 20px;
  display: grid;
  padding: 30px;
}

.form-container form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 4rem;
  left: 100px;
  background: #fff;
  padding: 20px;
  border-radius: 0.5rem;
}

.form-container form h1 {
  margin: auto;
}

.booking-container {
  display: flex;
  margin-top: 80px;
  margin-left: 100px;
}

.booking-container form {
  width: 400px;
  flex-wrap: wrap;
}

.input-box {
  flex: 1 1 7rem;
  display: flex;
  flex-direction: column;
}

.input-box span {
  font-weight: 500;
}

.input-box input {
  padding: 7px;
  outline: none;
  border: none;
  background: #eeeff1;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.booking-container .btn {
  padding: 5px;
}

.booking-container .btn:hover {
  background-color: var(--main-color);
}

.booking-container .btn :active {
  opacity: 0.8;
  transition: 1;
}

.form-container form .btn {
  flex: 1 1 7rem;
  padding: 10px 34px;
  border: none;
  border-radius: 0.5rem;
  background: #474fa0;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

.form-container form .btn:hover {
  background: var(--main-color);
}

.heading {
  margin: 3rem;
  text-align: center;
}

.heading span {
  font-weight: 500;
  text-transform: uppercase;
}

.heading h1 {
  font-size: 2rem;
}

.ride-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1rem;
  margin-top: 2rem;
}

.ride-container .box {
  text-align: center;
  padding: 20px;
}

.ride-container .box .bx {
  font-size: 34px;
  padding: 10px;
  background: #eeeff1;
  border-radius: 0.5rem;
  color: var(--main-color);
}

.ride-container .b0x h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 1.4rem 0 0.5rem;
}

.ride-container .box .bx:hover,
.ride-container .b0x .bxs-calendar-check {
  background: var(--gradient);
  color: #fff;
}

.services {
  display: block;
  justify-content: space-between;
  background-color: #587a7a;
}

.services-container {
  display: inline-flex;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 1rem;
  margin-top: 2rem;
}

.services-container .box {
  margin-left: 100px;
  margin-bottom: 3px;
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
  background-color: rgb(243, 228, 199);
}

.services-container .box:hover {
  background-color: wheat;
}

.services-container .box:active {
  opacity: 0.8;
}

.services-container .box .box-img {
  width: 300px;
  height: 200px;
}

.services-container .box .box-img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
  object-position: center;
}

.services-container .box p {
  padding: 0 10px;
  border: 1px solid var(--text-color);
  width: 100px;
  border-radius: 0.5rem;
  margin: 1rem 0 1rem;
}

.services-container .box h3 {
  font-weight: 500;
}

.services-container .box h2 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--main-color);
  margin: 0.2rem 0 0.5rem;
}

.services-container .box h2 span {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--text-color);
}

.services-container .box .btn {
  display: flex;
  justify-content: center;
  background: #474fa0;
  color: #fff;
  padding: 10px;
  border-radius: 0.5rem;
  opacity: 0.8;
}

.services-container .box .btn:hover {
  background: var(--main-color);
}

.about h1 {
  margin-top: 100px;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5rem;
  align-items: center;
  gap: 1rem;
}

.about-img img {
  width: 100%;
}

.about-text span {
  font-weight: 500;
  color: var(--main-color);
  text-transform: uppercase;
}

.about-text p {
  margin: 0.5rem 0 1.4rem;
}

.about-text .btn {
  padding: 10px 20px;
  background: #474fa0;
  color: #fff;
  border-radius: 0.5rem;
}

.about-text .btn:hover {
  background: var(--main-color);
}

.reviews-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 145px;
}
.rev-img {
  width: 70px;
  height: 70px;
}

.rev-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid var(--second-color);
}

.reviews-container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.reviews-container .box .h2 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0.5rem 0 0.5rem;
}

.reviews-container .box p {
  font-style: italic;
}

.reviews-container .box .starts .bx {
  color: var(--main-color);
}

.newsletter {
  background: linear-gradient(to top right, #fe5b3d, #ffac38);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter h2 {
  color: #fff;
  font-size: 1.8rem;
}

.newsletter .box {
  margin-top: 1rem;
  background: #fff;
  border-radius: 0.5rem;
  padding: 4px 8px;
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.newsletter .box input {
  border: none;
  outline: none;
}

.newsletter .box .btn {
  background: #474fa0;
  color: #fff;
  padding: 8px 20px;
  border-radius: 0.5rem;
}

.copyright {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social a {
  color: #444;
  padding: 10px;
  font-size: 21px;
}

/* Making Responsive */
@media (max-width: 991px) {
  header {
    padding: 18px 40px;
  }
  section {
    padding: 50px 40px;
  }
}
@media (max-width: 881px) {
  .home {
    background-position: left;
  }
  .form-container form {
    bottom: 0.2rem;
    left: 40px;
  }
}

@media (max-width: 768px) {
  header {
    padding: 11px 40px;
  }
  #menu-icon {
    display: initial;
  }
  .sign-Up {
    display: none;
  }
  .text h1 {
    font-size: 2.5rem;
  }
  .home {
    grid-template-columns: 1fr;
  }
  .form-container form {
    position: unset;
  }
  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease;
    text-align: left;
  }
  .navbar .active {
    top: 100%;
  }
  .navbar a {
    padding: 1rem;
    border-left: 2px solid var(--main-color);
    margin: 1rem;
    display: block;
  }
  .navbar a:hover {
    color: #fff;
    background: var(--main-color);
    border: none;
  }
  .navbar a::after {
    display: none;
  }

  .heading span {
    font-size: 0.9rem;
    font-weight: 600;
  }

  .heading h1 {
    font-size: 1.3rem;
  }
  .about-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about-img {
    padding: 1rem;
    order: 2;
  }
}

@media (max-width: 568px) {
  .copyright {
    flex-direction: column;
  }
  .newsletter .box {
    width: 284px;
  }
  .form-container {
    padding-top: 2rem;
  }
}
@media (max-width: 350px) {
  header {
    padding: 6px 14px;
  }
  .logo img {
    width: 30px;
  }
  section {
    padding: 50px 14px;
  }
  .header-btn .sign-in {
    padding: 7px 10px;
    font-size: 14px;
    font-weight: 400;
  }
  .text h1 {
    font-size: 2rem;
  }

  .services-container {
    grid-template-columns: repeat(auto-fit, minmax(254px, auto));
  }
}

.details {
  background-color: rgb(243, 228, 199);
  display: flex;
  margin: 0;
  padding-bottom: 10px;
}

.details-heading {
  margin-top: 60px;
  position: absolute;
  font-size: 25px;
  font-weight: bold;
}

.details-container {
  margin-top: 80px;
  padding-left: 20px;
}

.details-container .box-img {
  align-items: center;
  padding-bottom: 40px;
}

.passenger {
  font-size: 20px;
}

.icon,
.icons,
.money-icon {
  font-size: 25px;
}

.luggage {
  font-size: 20px;
}

.booking-details {
  align-items: center;
}

.booking-details h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}
.booking-details h2 {
  padding-left: 30px;
}

.booking-details p {
  padding-left: 30px;
  margin-bottom: 20px;
}

.booking-details p.letter {
  line-height: 25px;
}

.booking-date {
  padding-left: 30px;
}

.dates {
  font-weight: bold;
}

/* Add this code at the end of your main.css file */

/* Review Section */
.review {
  display: grid;
}
.review-container {
  padding: 20px;
  background-color: #f3e4c7;
  border-radius: 10px;
}

.review-container h2 {
  margin-left: 170px;
  font-size: 2rem;
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 20px;
}

.review-container form {
  display: flex;
  flex-direction: column;
  margin-left: 170px;
  margin-right: 400px;
}

.input-box label {
  font-size: 1rem;
  margin-bottom: 10px;
}

/* Review Section */
.star-rating {
  display: flex;
  margin-bottom: 20px;
}

.star-rating input {
  display: none;
}

.star-rating label {
  cursor: pointer;
  font-size: 24px;
  color: #ccc;
  order: -1; /* Change the order to 1 */
}

.star-rating label:before {
  content: "\2605"; /* Unicode character for a solid star */
}

.star-rating input:checked ~ label {
  color: var(--main-color);
}

.input-box textarea {
  padding: 10px;
  width: 100%;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  margin-bottom: 20px;
}

.review-container .btn {
  margin-left: 550px;
  padding: 10px 20px;
  background: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: background 0.3s ease;
}

.review-container .btn:hover {
  background: #ff6e40;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .review-container {
    padding: 20px;
  }

  .star-rating label {
    font-size: 20px;
  }
}

.booking-details {
  padding: 20px;
  background-color: rgb(255, 244, 223);
}

.booking-details p {
  letter-spacing: 1.3px;
}

.info p {
  margin-left: 200px;
  display: grid;
  grid-template-columns: 1fr 750px;
}

.dates li {
  margin-left: 200px;
  display: grid;
  grid-template-columns: 1fr 750px;
}

.booking-details li {
  margin-left: 200px;
  display: grid;
  grid-template-columns: 1fr 750px;
}

.overlapped-bookings li {
  margin-left: 200px;
  display: grid;
  grid-template-columns: 1fr 750px;
}

.button-container {
  display: flex;
}

.submit-booking {
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.submit-booking:hover {
  background-color: var(--main-color);
}

.back-to-booking {
  padding: 5px;
  color: #444;
}

.back-to-booking:hover {
  background-color: var(--main-color);
}

/* Reset some default styles */

/* Apply some basic styling to the form container */
.form-container-signup {
  max-width: 600px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgb(243, 157, 87);
}

/* Style form labels */
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

/* Style form input fields */
.form-control {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

/* Style the button */
.btn {
  margin-top: 30px;
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add hover effect to the button */
.btn:hover {
  background-color: #45a049;
}

/* Style invalid input fields */
.invalid {
  border: 1px solid #ff0000;
}

/* Add spacing between form groups */
.row {
  margin-bottom: 16px;
}

/* Additional styling for the container, adjust as needed */
.container {
  margin: 20px;
}

.services .heading h1 {
  padding-top: 50px;
}

.reviews .heading h1 {
  padding-top: 50px;
}
